{{#if pages}}
<nav aria-label="Page navigation example">
    <ul class="pagination">
        {{#when current_page "noteq" 0}}
            <li class="page-item" onclick="callNextPage({currentPage: {{current_page}})">
                <a class="page-link" href="/{{path}}?page={{sub current_page 1}}&size={{page_size}}"
                aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
                </a>
            </li>
        {{/when}}
        {{#when current_page "noteq" 0}}
            <li class="page-item"><a class="page-link" href="/{{path}}?page=0&size={{page_size}}">0</a></li>
            {{#when current_page "noteq" 1}}
                <li class="page-item"><a class="page-link" href="/{{path}}?page={{sub current_page 1}}
                    &size={{page_size}}">{{sub current_page 1}}</a></li>
            {{/when}}
        {{/when}}
        <li class="page-item "><a class="page-link bg-dark">{{current_page}}</a></li>

        {{#when current_page "noteq" pages_amount}}
            <li class="page-item"><a class="page-link" href="/{{path}}?page={{add current_page 1}}&size={{page_size}}
                ">{{add current_page 1}}</a></li>
            <li class="page-item"><a class="page-link " href="/{{path}}?page={{pages_amount}}&size={{page_size}}
                ">{{pages_amount}}</a></li>
        {{/when}}
        {{#when current_page "noteq" pages_amount}}
            <li class="page-item" onclick="callPrevPage({currentPage: {{current_page}})">
                <a class="page-link" href="/{{path}}?page={{add current_page 1}}&size={{page_size}}"
                aria-label="Next">
                <span class="sr-only">Next</span>
                <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        {{/when}}
    </ul>
</nav>
{{/if}}