<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Summary</th>
        <th>Section</th>
        <th>Image</th>
    </tr>
    {{#each actors}}
        <tr>
            <td>{{id}}</td>
            <td>{{name}}</td>
            <td>{{summary}}</td>
            <td>{{section}}</td>
            <td>{{image_url}}</td>
        </tr>
    {{/each}}
</table>