{{#with actor}}
<div class="" id="actor">
    <div class="d-flex" id="actor-image-container">
        <img src="{{imageUrl}}" class="" onerror="load_default_actor_image(this)"/>
    </div>

    <div class="" id="actor-caption-container">
        <h3 class="">
            {{name}}
        </h3>
        <p class="">
            {{summary}}
        </p>
        <p class="">
            {{section}}
        </p>
        <div class="">
            <small class="">
                {{id}}
            </small>
        </div>
    </div>

</div>
{{/with}}
{{> movies_table}}


