{{#with actor}}
<div class="card w-25">
    <img src="{{imageUrl}}" class="card-img-top" onerror="load_default_actor_image(this)"/>
    <div class="card-body">
        <h5 class="card-title">
            {{name}}
        </h5>
        <p class="card-text">
            {{summary}}
        </p>
        <p class="card-text">
            {{section}}
        </p>
    </div>
    <div class="card-footer">
        <small class="text-muted">
            {{id}}
        </small>
    </div>
</div>
{{/with}}
{{> movies_table}}


