<div class="container">
    <div class="row">
        <div class="col border">
            <form class="" id="movieSearchFilterForm">
                <div class="form-group">
                    <label for="countrySelect">Select the Country</label>
                    <select class="form-control" id="countrySelect" name="country">
                        <option value="" selected>No country</option>
                        {{#each countries}}
                            <option value="{{id}}">{{country}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="form-group">
                    <label for="genreSelect" >Select the genre</label>
                    <select class="form-control" id="genreSelect" name="genre">
                        <option value="" selected>No genre</option>
                        {{#each genres}}
                            <option value="{{id}}">{{genre}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="form-group">
                    <label for="languageSelect">Select the language</label>
                    <select class="form-control" id="languageSelect" name="language">
                        <option value="" selected>No language</option>
                        {{#each languages}}
                            <option value="{{id}}">{{language}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="form-group">
                    <label for="themeSelect">Select the theme</label>
                    <select class="form-control" id="themeSelect" name="theme">
                        <option value="" selected>No theme</option>
                        {{#each themes}}
                            <option value="{{id}}">{{theme}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="form-group">
                    <label for="dateInput">Select the date</label>
                    <input class="form-control" type="number" id="dateInput" step="1" value="2024">
                </div>
                <button type="button" class="btn btn-primary mt-1" onclick="sendMovieSearchFilter(event)">Search</button>
            </form>
        </div>
        <div class="col col-sm-1 d-flex align-items-center justify-content-center">
            OR
        </div>
        <div class="col border">
            <form class="" id="searchNameForm">
                <div class="form-group">
                    <label for="MovieName">Select the movie name</label>
                    <input class="form-control" type="text" id="MovieName" name="MovieName" placeholder="Movie Name..." required>
                    <button type="button" class="btn btn-primary mt-1" onclick="sendMoviesSearchWord()">Search</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="searchResult">

</div>