<div class="min-vh-100 container" id="movie-background">
    {{#with movie}}
        <div class="bg-dark text-white row " id="movie-container">
            <div class="col" id="movie-caption">
                <div>
                    <h1 class="col align-self-center">
                        {{name}}
                    </h1>
                    <p>
                        {{tagline}}
                    </p>
                    <p>
                        {{description}}
                    </p>
                    <p>
                        Rating:{{rating}}
                    </p>
                </div>
            </div>
            <div class="col" id="movie-poster">
                <img class="" src="{{poster}}" alt="{{name}}" onerror="load_default_movie_image(this)">
            </div>
        </div>
    {{/with}}

    <div class="container" id="movie-info">
        <div class="row">
            <div class="col" id="movie-details">
                <table class="table">
                    <tbody>
                    <tr>
                        <th scope="row">Minutes:</th>
                        <td>
                            {{#with movie}}
                                {{minute}}
                            {{/with}}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Languages:</th>
                        <td>
                            {{#each languages}}
                                {{language}}{{#unless @last}}
                                , {{/unless}} <!-- Mostra tutte le lingue separate da virgola -->
                            {{else}}
                                No languages available
                            {{/each}}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Genres:</th>
                        <td>
                            {{#each genres}}
                                {{genre}}{{#unless @last}}
                                , {{/unless}} <!-- Mostra tutti i generi separati da virgola -->
                            {{else}}
                                No genres available
                            {{/each}}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Country:</th>
                        <td>
                            {{#each countries}}
                                {{country}}{{#unless @last}}
                                , {{/unless}} <!-- Mostra tutti i paesi separati da virgola -->
                            {{else}}
                                No countries available
                            {{/each}}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Themes:</th>
                        <td>
                        <ul>
                            {{#each themes}}
                                <li>{{theme}}</li>
                            {{else}}
                            </ul>
                                No themes available
                            {{/each}}
                        </td>

                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col" id="movie-releases">
                {{#grouped_each 2 releases}}
                <ul class="row">
                    {{#each this}}
                        <li class="col list-group-item">
                            {{country}} {{#date_formatter date}}{{/date_formatter}}
                        </li>
                    {{/each}}
                </ul>
                {{/grouped_each}}

            </div>
        </div>
        <div class="row mt-3">
        {{> single_movie_oscars}}
        </div>

    </div>

    {{#if reviews}}
        <h2 class="text-center mt-3">Reviews</h2>
    {{/if}}

    <div class="row mt-3 w-75 mx-auto" id="movie-reviews">
        {{> reviews_card}}
    </div>
    <h2 class="text-center mt-3 ">Actors</h2>
    <div class="row mt-3 w-75 mx-auto" id="movie-actors">
        {{> actors_card}}
    </div>

    <div class="row mt-3 mb-3 w-25 mx-auto" >
        {{#with movie}}
            <button type="button" class="btn btn-primary btn-sm  mt-3 mb-3 "
                    onclick="location.href='/crew/movie?movieId={{id}}'">
            Show movie crew Members
            </button>
        {{/with}}
    </div>

</div>

