<h1>{{title}}</h1>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Position</th>
        <th>Film</th>
        <th>Rating</th>
    </tr>
    </thead>
    <tbody>
    {{#each movies}}
        <tr>
            <td>{{@index}}</td>
            <td><a href="/movies/id?id={{id}}">{{name}}</a></td>
            <td>{{rating}} / 5</td>
        </tr>
    {{/each}}
    </tbody>
</table>

<form action="/movies/top10-bestMovies" method="get" class="form-inline">
    {{> country_select }}
    {{> genre_select }}
    {{> language_select }}

    <button type="submit" class="btn btn-primary btn-sm mb-2 ml-2">Filter</button>
</form>
