<h1>{{title}}</h1>


<table class="table table-striped">
    <thead>
    <tr>
        <th>Position</th>
        <th>Film</th>
        {{# when type 'eq' "best"}}
            <th>Rating</th>
        {{/when}}
        {{# when type 'eq' "worst"}}
            <th>Rating</th>
        {{/when}}
        {{# when type 'eq' "longest"}}
            <th>Minute</th>
        {{/when}}
        {{# when type 'eq' "shortest"}}
            <th>Minute</th>
        {{/when}}
    </tr>
    </thead>
    <tbody>
    {{#each movies}}
        <tr>
            <td>{{@index}}</td>
            <td><a href="/movies/id?id={{id}}">{{name}}</a></td>
            {{# when ../type 'eq' "best"}}
                <td>{{rating}} / 5</td>
            {{/when}}
            {{# when ../type 'eq' "worst"}}
                <td>{{rating}} / 5</td>
            {{/when}}
            {{# when ../type 'eq' "longest"}}
                <td>{{minute}} minutes</td>
            {{/when}}
            {{# when ../type 'eq' "shortest"}}
                <td>{{minute}} minutes</td>
            {{/when}}
        </tr>
    {{/each}}
    </tbody>
</table>

<form action="/movies/top10-movies" method="get" class="form-inline">
    {{> country_select type=type}}
    {{> genre_select type=type}}
    {{> language_select type=type}}

    <input type="hidden" name="type" value="{{type}}">

    <button type="submit" class="btn btn-primary btn-sm mb-2 ml-2">Filter</button>
</form>
