<section id="upcoming-movies" class="container mt-5">
    <h2 class="text-center">Prossime Uscite</h2>
    <div class="row">
        {{#each upcomingMovies}}
            <div class="col-md-3 mb-4">
                <div class="card">
                    <img src="{{poster}}" class="card-img-top" alt="{{name}}" onerror="this.src='/public/images/default-movie.jpg'">
                    <div class="card-body">
                        <h5 class="card-title">{{name}}</h5>
                        <p class="card-text">Data di uscita: {{releaseDate}}</p>
                        <a href="/movies/id?id={{id}}" class="btn btn-primary">Scopri di più</a>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</section>