<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
</head>
<body>
<h1>{{title}}</h1>
<ul>

        {{#when type 'eq' 'genre'}} <!-- Se il tipo è 'genre' -->
            {{#each genres}}
            <li>{{genre}}: {{movie_count}} movies</li> <!-- Mostra i generi -->
            {{/each}}
        {{/when}}
        {{#when type 'eq' 'country'}} <!-- Se il tipo è 'country' -->
            {{#each country}}
            <li>{{country}}: {{movie_count}} movies</li> <!-- Mostra i paesi -->
            {{/each}}
        {{/when}}

</ul>
</body>
</html>
